:root {
  --violet: hsl(257, 40%, 49%);
  --soft-magenta: hsl(300, 69%, 71%);
  --white: hsl(0, 0%, 100%);

  --headings: "Poppins", sans-serif;
  --body: "Open Sans", sans-serif;
}

body,
span,
h1,
p {
  margin: 0px;
  padding: 0px;
}

* {
  box-sizing: border-box;
}

a {
  text-decoration: none;
}

img {
  display: block;
  max-width: 100%;
  height: 100%;
}

body {
  background-color: var(--violet);
  background-image: url(images/bg-desktop.svg);
  color: var(--white);
  font-family: var(--body);
}

.container {
  max-width: 1440px;
  padding-left: 1.25rem;
  padding-right: 1.25rem;
  margin-left: auto;
  margin-right: auto;
}

.header {
  display: flex;
  justify-content: left;
  padding: 3rem 1.25rem 5rem 1.25rem;
}

.introducao {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 0px 1.5rem;
}

.introducao p,
.introducao a {
  grid-column: 2;
}

.introducao img {
  grid-column: 1;
  grid-row: 1/3;
}

.introducao-conteudo {
  align-items: start;
}

.introducao h1 {
  margin-bottom: 2rem;
  font-size: 2.5rem;
  font-family: var(--headings);
  font-weight: 600;
  line-height: 1.125;
}

.introducao p {
  margin-bottom: 1.25rem;
  font-family: var(--headings);
  font-weight: 400;
  font-size: 1.25rem;
  line-height: 1.5;
}

.introducao a {
  display: inline-block;
  background-color: var(--white);
  padding: 1em 3.75em;
  border-radius: 2em;
  box-shadow: 0 1px 2px #323232;
  color: var(--violet);
  font-family: var(--headings);
  font-weight: 400;
  font-size: 1rem;
  line-height: 1.5;
  transition: all 0.3s;
}

.introducao a:hover {
  background: var(--soft-magenta);
  color: var(--white);
  transition: all 0.3s;
}

.footer {
  display: flex;
  margin-left: 1rem;
  justify-content: right;
  gap: 1rem;
}

.footer img {
  width: 2.75em;
  border-radius: 100%;
  border: 2px solid var(--white);
  padding: 8px;
}

.footer img:hover {
  color: #674baf;
  border-color: var(--soft-magenta);
}

@media (max-width: 800px) {
  .introducao {
    grid-template-columns: 1fr;
    gap: 2rem;
    text-align: center;
  }

  .introducao h1 {
    font-size: 2rem;
  }

  .introducao p {
    font-size: 1rem;
  }
}

@media (max-width: 600px) {
  body {
    background-image: url(images/bg-mobile.svg);
  }

  .header img {
    width: 8.75rem;
  }

  .header {
    margin-bottom: 2em;
    padding: 2rem 1.25rem 1rem 1.25rem;
  }

  .introducao h1 {
    font-size: 1.75rem;
  }

  .introducao a {
    padding: 0.75rem 6rem;
    font-size: 1rem;
  }

  .introducao a {
    margin-bottom: 3.75rem;
  }

  .footer{
    justify-content: center;
    margin-bottom: 2rem;
  }
}
